{% set active_page = 'tasks' %}
{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<div class="container">
    <br>
    <div class="row p-2">
        <form action="/api/task/add" method="POST" id="newtask" class="pb-2">
            <div class="row g-3">
                <div class="col">
                    <label for="content" class="form-label">Task</label>
                    <input type="text" id="content" class="form-control" name="content">
                </div>
                <div class="col">
                    <label class="form-label" for="tag">Tag</label>
                    <input list="tags" value="" class="form-control" name="tag">
                    <datalist id="tags">
                        {% for tag in tags %}
                        <option value="{{ tag.content }}">{{ tag.content }}</option>
                        {% endfor %}
                    </datalist>
                </div>
                <div class="col-sm">
                    <label class="form-label" for="datepicker">Due Date</label>
                    <input type="text" id="datepicker" name="datepicker" class="date form-control" readonly="readonly"
                        placeholder="MM/DD/YYYY" value="">
                </div>
                <div class="col-auto align-self-end ">
                    <button type="submit" name="submit" class="btn btn-primary">Add Task</button>
                </div>
            </div>
        </form>
    </div>
    <div class="row pt-5">
        {% if tasks|length < 1 %} <h2>There are no Tasks.</h2>
            {% else %}
            <table id="tasksTable" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th scope="col" style="white-space: nowrap; width: 1%;">Tag</th>
                        <th scope="col">Task</th>
                        <th scope="col">Added</th>
                        <th scope="col">Due</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in tasks %}
                    <tr>
                        <th scope="row" style="white-space: nowrap; width: 1%;">{{ task.tag }}</th>
                        <td>{{ task.content }}</td>
                        <td>{{ task.date_created }}</td>
                        <td>{{ task.date_due }}</td>
                        <td style="white-space: nowrap; width: 1%;">
                            <a href="/api/task/delete/{{task.id}}" class="text.white">
                                <button type="button" class="btn btn-primary">
                                    <i class="fa-solid fa-trash-can"></i>
                                </button>
                            </a>
                            <a href="/api/task/update/{{task.id}}" class="text.white">
                                <button type="button" class="btn btn-primary">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </button>
                            </a>

                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
    </div>
    <script>
        $(document).ready(function () {
            $('#tasksTable').DataTable();
        });
    </script>
</div>

{% endblock body %}