{% extends "tasks/tasks-sub-base.html" %}
{% block taskscontent %}
<div class="row p-2" name="main-content">
    <div class="col-3" name="side-tag-pane">
        <div class="d-flex justify-content-between mb-3">
            <div class="d-flex-item">
                <h5>Tag Filters</h5>
            </div>
            <div class="d-flex-item">
                <a href="{% url 'tag-create' %}"><button class="btn btn-primary">New Tag</button></a>
            </div>
        </div>
        <ul class="list-group">
            <li class="list-group-item">
                <div class="row" name="incomp">
                    <div class="col-sm-auto">
                        <a href="" name="incomplete-filter">
                            <div name="icon">
                                <i class="fa-solid fa-list"></i>
                            </div>
                        </a>
                    </div>
                    <div class="col-auto me-auto">
                        <a href="" name="incomplete-filter">
                            <span name="title">Incomplete</span>
                        </a>
                    </div>
                    <div class="col-sm-auto" name="count">
                        <a href="" name="incomplete-filter">
                            {{ incomplete }}
                        </a>
                    </div>
                    <div class="col-sm-auto" name="edit-button">
                        <a href="" name="edit-button-link">
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </a>
                    </div>
                </div>
            </li>
            <li class="list-group-item" name="due-today">
                <div class="row" name="today">
                    <div class="col-sm-auto">
                        <a href="" name="today-filter">
                            <div name="icon">
                                <i class="fa-solid fa-calendar-day"></i>
                            </div>
                        </a>
                    </div>
                    <div class="col-auto me-auto">
                        <a href="" name="today-filter">
                            <span name="title">Due Today</span>
                        </a>
                    </div>
                    <div class="col-sm-auto" name="count">
                        <a href="" name="today-filter">
                            {{ due_today }}
                        </a>
                    </div>
                    <div class="col-sm-auto" name="edit-button">
                        <a href="" name="edit-button-link">
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </a>
                    </div>
                </div>
            </li>
            <li class="list-group-item" name="next-seven">
                <div class="row" name="next-seven">
                    <div class="col-sm-auto">
                        <a href="" name="week-filter">
                            <div name="icon">
                                <i class="fa-solid fa-calendar-week"></i>
                            </div>
                        </a>
                    </div>
                    <div class="col-auto me-auto">
                        <a href="" name="week-filter">
                            <span name="title">Due Next 7 days</span>
                        </a>
                    </div>
                    <div class="col-sm-auto" name="count">
                        <a href="" name="incomplete-filter">
                            {{ due_next_seven_days }}
                        </a>
                    </div>
                    <div class="col-sm-auto" name="edit-button">
                        <a href="" name="edit-button-link">
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </a>
                    </div>
                </div>
            </li>
            {% for tag in tags %}
            <li class="list-group-item">
                <div class="row" name="TAGTITLE">
                    <div class="col-sm-auto">
                        <a href="" name="TAGTITLE-filter">
                            <div name="icon">
                                <i class="fa-solid fa-circle" style="color: {{ tag.color }} ;"></i>
                            </div>
                        </a>
                    </div>
                    <div class="col-auto me-auto">
                        <a href="" name="TAGTITLE-filter">
                            <span name="title">{{ tag.title }}</span>
                        </a>
                    </div>
                    <div class="col-sm-auto" name="count">
                        <a href="" name="TAGTITLE-filter">
                            {{ tag.count }}
                        </a>
                    </div>
                    <div class="col-sm-auto" name="edit-button">
                        <a href="" name="edit-button-link">
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </a>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col" name="tasks-table">
        <div class="d-flex justify-content-between mb-3">
            <div class="d-flex-item">
                <h5>Tasks</h5>
            </div>
            <div class="d-flex-item">
                <a href="{% url 'task-create' %}"><button class="btn btn-primary">New Task</button></a>
            </div>
        </div>
        <div class="row">
            <ul class="list-group">
                {% for task in tasks %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-auto me-auto">
                            {{ task.title }}
                        </div>
                        <div class="col-sm-auto">
                            {{ task.due|date }}
                        </div>
                        <div class="col-sm-auto">
                            <a href="{% url 'task-with-detail' task.id %}"><i class="fa-solid fa-circle-info"></i></a>
                        </div>
                        <div class="col-sm-auto">
                            <a href="{% url 'task-update' task.id %}"><i class="fa-solid fa-pen-to-square"></i></a>
                        </div>
                        <div class="col-sm-auto">
                            <a href="{% url 'task-delete' task.id %}"><i class="fa-solid fa-trash"></i></a>
                        </div>
                    </div>
                </li>
                {% empty %}
                <li class="list-group-item">
                    <p>No tasks available. Create one now.</p>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% if task_for_detail_view != "None" %}
    <div class="col-3">
        <div class="d-flex justify-content-between mb-3">
            <div class="d-flex-item">
                <h5>Task Details</h5>
            </div>
            <div class="d-flex-item">
                <a href="{% url 'task' %}"><button class="btn btn-primary"><i class="fa-solid fa-x"></i></button></a>
            </div>
        </div>
        <ul class="list-group">
            <li class="list-group-item">
                <div class="row">
                        <div class="col-3">
                            <b>Title:</b>
                        </div>
                        <div class="col-auto">
                            {{ task_for_detail_view.title }}
                        </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                        <div class="col-3">
                            <b>Tag:</b>
                        </div>
                        <div class="col-auto">
                            {{ task_for_detail_view.tag }}
                        </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                        <div class="col-3">
                            <b>Description:</b>
                        </div>
                        <div class="col-auto">
                            {{ task_for_detail_view.description }}
                        </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                        <div class="col-3">
                            <b>Due Date:</b>
                        </div>
                        <div class="col-auto">
                            {{ task_for_detail_view.due }}
                        </div>
                </div>
            </li>
        </ul>
    </div>
    {% endif %}
</div>
{% endblock taskscontent %}