{% extends "dashboard/dashboard-sub-base.html" %}
{% block dashboardcontent %}
<div class="row">
    <div class="col"></div>
    <div class="col">
        <img src="https://www.djangoproject.com/m/img/logos/django-logo-negative.png" class="rounded img-thumbnail mx-auto d-block" width="500" height="600">
        <center><p class="display-6">In the future, there will be different user-toggled modules available from Tasks, Calendar, and Notes apps to be displayed here.</p></center>
    </div>
    <div class="col"></div>
</div>
{% endblock dashboardcontent %}