{% extends "dashboard/dashboard-sub-base.html" %}
{% block dashboardcontent %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{{ form.media }}
<div class="row">
    <div class="col"></div>
    <div class="col">
        <h4>User Preferences</h4>
        <form action="" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <div class="btn-toolbar justify-content-between" role="toolbar">
                <div class="btn-group" role="group">
                    <a href="{% url 'dashboard' %}" class="btn btn-outline-primary">Go Back</a>
                </div>
                <div class="btn-group" role="group">
                    <input type="submit" class="btn btn-primary" value="Save">
                </div>
            </div>
        </form>
    </div>
    <div class="col"></div>
</div>
{% endblock dashboardcontent %}