{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="container">
    <div class="row align-items-start">
        <div class="col">
            <h1></h1>
        </div>
        <div class="col">
            
        </div>
    </div>
    
{% include "taskstable.html" %}
{% include "tagstable.html" %}

</div>

<!-- New Task Modal -->
<div class="modal fade" id="newTaskModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form action="/" method="POST" id="newtask">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">New Task</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <label for="content" class="form-label">Title</label>
                    <input type="text" id="content" class="form-control" name="content">

                    <label for="tag" class="form-label">Tag</label>

                    <input list="tag" name="tag" class="form-control">
                    <datalist id="tag">
                        <option value=""></option>
                        {% for tag in tags %}
                        <option value="{{ tag.title }}">{{ tag.title }}</option>
                        {% endfor %}
                    </datalist>

                    <label class="control-label" for="datepicker">Due Date</label>
                    <input type="text" id="datepicker" name="datepicker" class="date form-control" readonly="readonly" placeholder="MM/DD/YYYY" value="">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Add Task">
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock body %}