{% extends "base.html" %}
{% block title %}Login{% endblock title %}
{% block content %}

{% load bootstrap5 %}
{{ form.media }}
<div class="row m-auto">
    <div class="col"></div>
    <div class="col">
        <form action="" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <p>Need an account?<br>
            <div class="btn-toolbar justify-content-between" role="toolbar">
                <div class="btn-group" role="group">
                    
                    <a href="{% url 'register' %}" class="btn btn-outline-primary">Register</a>
                </div>
                <div class="btn-group" role="group">
                    <input type="submit" class="btn btn-primary" value="Login">
                </div>
            </div>
        </form>
    </div>
    <div class="col"></div>
</div>
{% endblock content %}