{% extends "base.html" %}
{% block title %}Register{% endblock title %}
{% block content %}
{% load django_bootstrap5 %}
{{ form.media }}
<div class="row">
    <div class="col"></div>
    <div class="col">
        <form action="" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input type="submit" value="Register">
            <p>Already have an account?<a href="{% url 'login' %}">Login</a></p>
        </form>
    </div>
    <div class="col"></div>
</div>
{% endblock content %}